<h1>Editing post_vote</h1>
<p>
  <strong>Title:</strong>
  <%= @post_vote.post.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @post_vote.post.image.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post_vote.post.description %>
</p>

<p>
  <strong>Vote:</strong>
  <%= render 'form' %>
</p>

<%= link_to 'Show', @post_vote %>
