<p id="notice"><%= notice %></p>

<h1>
  <%= @post_vote.post.title %>
</h1>

<p>
  <%= image_tag @post_vote.post.image.url, :class => "img-responsive" %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @post_vote.post.description %>
</p>
<p>
  <strong>Vote:</strong>
  <%= @post_vote.vote %>
</p>
