<h1>Home#inbox</h1>
<p>Find me in app/views/home/inbox.html.erb</p>

<h1>Listing post_votes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Post</th>
      <th>URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_votes.each do |post_vote| %>
      <tr>
        <td><%= post_vote.user.email %></td>
        <td><%= post_vote.post.title %></td>
        <td><%= post_vote.post.image_url %></td>
        <td><%= link_to 'Show', post_vote %></td>
        <td><%= link_to 'Edit', edit_post_vote_path(post_vote) %></td>
        <td><%= link_to 'Destroy', post_vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post vote', new_post_vote_path %>