<head>
<style>
  .form-control{
    margin-bottom: 15px;
  }
</style>
</head>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <%= f.label :title, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :title, :class => 'form-control', :placeholder => 'Title' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_area :description, :class => 'form-control', :rows => '3' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :image, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.file_field :image, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="actions col-lg-10 col-lg-offset-2">
        <%= f.submit 'Create Post', :class => 'btn btn-primary' %>
      </div>
    </div>
  </fieldset>
</form>
<% end %>
