<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Image:</strong>
  <p>
    <%= image_tag @post.image.url %>
  </p>
</p>

<p>
  <strong>Upvotecount:</strong>
  <%= @post.upvotecount %>
</p>

<p>
  <strong>Downvotecount:</strong>
  <%= @post.downvotecount %>
</p>

<p>
  <strong>Postdate:</strong>
  <%= @post.postdate %>
</p>