<h1>
  <%= @post.title %>
</h1>
<p>
  Posted
  <%= @post.postdate.strftime('%b %d, %Y %I:%M %p') %>
</p>
<p>
  <%= image_tag @post.image.url, :class => "img-responsive" %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @post.description %>
</p>

<p>
  <strong>Upvotecount:</strong>
  <%= @post.upvotecount %>
</p>

<p>
  <strong>Downvotecount:</strong>
  <%= @post.downvotecount %>
</p>