<!DOCTYPE html>
<html>
<head>
  <title>Picshare</title>
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- NavBar start -->
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">PicShare</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <% if user_signed_in? %>
    <ul class="nav navbar-nav">
      <li <% if request.env['PATH_INFO'].eql?(home_inbox_path) %> class="active" <% end %>><%= link_to 'Inbox', home_inbox_path %></li>
      <li <% if request.env['PATH_INFO'].eql?(new_post_path) %> class="active" <% end %>><%= link_to 'New Post', new_post_path %></li>
      <li <% if request.env['PATH_INFO'].eql?(home_myposts_path) %> class="active" <% end %>><%= link_to 'My Posts', home_myposts_path %></li>
      <li><a href="#">Top Posts</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }%></li>
    </ul>
    <% else %> 
    <ul class="nav navbar-nav">
      <li><a href="#">Top Posts</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Log In', new_user_session_path %></li>
    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    </ul>
    <% end %>
  </div>
</div>
<!-- NavBar end -->

<div class="container">

    <%= yield %>

</div>
</body>
</html>